.inline-link {
  display: inline-block !important;
}

.flex-center-vertically {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  min-height: 100px;
}

.ant-upload-list-picture-card .ant-upload-list-item {
  min-width: 150px !important;
  height: auto;
}

@media only screen and (max-width: 980px) {
  .ant-upload-list-picture-card .ant-upload-list-item {
    width: 100px; 
  }
}
