.inline-link {
  display: inline-block !important;
}

.flex-center-vertically {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  min-height: 100px;
}

.mail-img {
  max-width: 200px;
}

@media only screen and (max-width: 980px) {
  .mail-img {
    width: 100px;
  }
}

.authenticate-bar {
  margin-top: 40px;
  max-height: 60px;
  max-width: 450px;
}

.center-in-viewport {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.center {
  text-align: center;
}

.center h2 {
  font-size: 30px;
}
